.Wrapper {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

.StartButton {
    width: 40%;
    margin: 2rem auto;
}

.QuizDataContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.showResultButton {
    display: block;
}